<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
	xmlns:cxf="http://cxf.apache.org/core" 
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">
	
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	
	<jaxrs:server id="services" address="/">
		<jaxrs:serviceBeans>
			<ref bean="userDataServiceImpl" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="invalidQueryExceptionMapper"/>
			<ref bean="jaxbProvider"/>
			<ref bean="jsonProvider"/>
		</jaxrs:providers>
	</jaxrs:server>
	<bean id="userDataServiceImpl" class="com.healthmedia.ws.service.userdata.v1.UserDataServiceImpl" />
	<bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
		<property name="jaxbElementClassMap" ref="myElementClassMap"/>
	</bean>
	<bean id="jsonProvider" class="org.apache.cxf.jaxrs.provider.json.JSONProvider">
		<property name="jaxbElementClassMap" ref="myElementClassMap"/>
		<property name="ignoreNamespaces" value="true"/>
		<property name="dropRootElement" value="true"/>
		<property name="dropCollectionWrapperElement" value="true"/>
	</bean>
	<!-- 
	defines the name of each root element as jaxb doesnt annotate autogenerated classes based on venetian blind schemas 
	with XmlRootElement see http://hirenscafe.blogspot.com/2008/04/jaxbxmlrootelement.html
	-->
	<util:map id="myElementClassMap">
		<entry key="com.healthmedia.ws.entity.userdata.v1.UserDataType" value="userData"/>
		<entry key="com.healthmedia.ws.entity.userdata.v1.UserDataCollectionType" value="userDataCollection"/>
		<entry key="com.healthmedia.ws.common.error.v1.ErrorType" value="error"/>
	</util:map>
	<!-- example exception mapping -->
	<bean id="invalidQueryExceptionMapper" class="com.healthmedia.ws.common.error.v1.InvalidQueryExceptionMapper" />
</beans>
