<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
	xmlns:cxf="http://cxf.apache.org/core" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">
	
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	
	<jaxrs:server id="services" address="/">
		<jaxrs:serviceBeans>
			<ref bean="userDataServiceImpl" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="com.healthmedia.ws.common.ISO8601DateParamHandler" />
			<ref bean="badArgumentsExceptionMapper" />
			<ref bean="dataDefinitionExceptionMapper"/>
			<ref bean="genericErrorExceptionMapper"/>
			<ref bean="throwableExceptionMapper"/>
			<ref bean="jaxbProvider"/>
			<ref bean="jsonProvider"/>
			<ref bean="sampleFilter" />
		</jaxrs:providers>
	</jaxrs:server>
	
	<bean id="userDataServiceImpl" class="com.healthmedia.ws.service.rest.userdata.v1.UserDataServiceImpl" />
	
	<bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
		<property name="singleJaxbContext" value="true"/>
		<property name="useSingleContextForPackages" value="true"/>
		<property name="extraClass" ref="extraClasses" />
		<property name="jaxbElementClassMap" ref="rootElementClassMap"/>
	</bean>
	
	<!-- 
		For common configuration parameters 
		@see http://cxf.apache.org/docs/jax-rs-data-bindings.html#JAX-RSDataBindings-CommonJAXBandJSONconfiguration 
	-->
	<bean id="jsonProvider" class="org.apache.cxf.jaxrs.provider.json.JSONProvider">
		<property name="singleJaxbContext" value="true"/>
		<property name="useSingleContextForPackages" value="true"/>
		<!-- place additional annotated classes within jaxb context -->
		<property name="extraClass" ref="extraClasses" />
		<!-- list of classes that should be treated as root elements within the service -->
		<property name="jaxbElementClassMap" ref="rootElementClassMap"/>
		<!-- map namespaces to more concise abbreviations for use in json payloads -->
		<property name="namespaceMap" ref="jsonNamespaceMap"/>
		<!-- don't require a root element when consuming messages (e.g. { "userData": { ... } } -->
		<property name="supportUnwrapped" value="true"/>
		<!-- drop the wrapper element when marshaling object to client -->
		<property name="dropRootElement" value="true"/>
		<!-- drop the array name wrapper that ordinarily surrounds collections -->
		<property name="dropCollectionWrapperElement" value="true"/>
		<!-- do not prefix xml attributes with @ symbol -->
		<!-- <property name="attributesToElements" value="true"/> -->
		<!--  ensure that collections with a single element are still serialized as arrays and not simply the unwrapped element -->
		<property name="serializeAsArray" value="true"/>
		<property name="arrayKeys" ref="jsonKeys"/>
	</bean>

	<!-- convert all elements with the following names to an array (used in conjunction with serializeAsArray)-->
	<util:list id="jsonKeys">
		<value>userDataCollection</value>
		<value>subErrors</value>
		<value>reasons</value>
		<value>userCollection</value>
	</util:list>
	
	<!-- 
		jaxb doesnt annotate autogenerated classes derived from venetian blind schemas 
		with XmlRootElement. we therefore have to manually define their root names. 
		see http://hirenscafe.blogspot.com/2008/04/jaxbxmlrootelement.html
	-->
	<util:map id="rootElementClassMap">
		<entry key="com.healthmedia.ws.common.error.v1.ErrorType" value="error"/>
		<entry key="com.healthmedia.ws.entity.user.v1.UserDataType" value="userData"/>
		<entry key="com.healthmedia.ws.entity.user.v1.UserDataCollectionType" value="userDataCollection"/>
	</util:map>
	
	<!-- include extra classes in jaxb context -->
	<util:list id="extraClasses" />
	
	<!-- example exception mapping -->
	<bean id="dataDefinitionExceptionMapper" class="com.healthmedia.ws.common.error.v1.DataValidationExceptionMapper" />
	<bean id="badArgumentsExceptionMapper" class="com.healthmedia.ws.common.error.v1.BadArgumentsExceptionMapper" />
	<bean id="genericErrorExceptionMapper" class="com.healthmedia.ws.common.error.v1.GenericErrorExceptionMapper" />
	<bean id="throwableExceptionMapper" class="com.healthmedia.ws.common.error.v1.ThrowableExceptionMapper" />
	
	<util:map id="jsonNamespaceMap">
		<entry key="urn:healthmedia:schema:common:v1" value="c1"/>
		<entry key="urn:healthmedia:schema:common-error:v1" value="ce1"/>
		<entry key="urn:healthmedia:schema:user:v1" value="u1"/>
		<entry key="urn:healthmedia:schema:data-source:v1" value="ds1"/>
	</util:map>	
	
	<!-- example filter -->
	<bean id="sampleFilter" class="com.healthmedia.ws.filter.SampleFilter" />
</beans>
